@{
    ViewBag.Title = "About";
}

<style>
    .about img {
        width: 100%
    }

    .about h3 {
        line-height: 50px;
    }

    .about .col-xs-12 {
        padding: 5px
    }
</style>

<div class="container about">
    <h1>About Traxxtar</h1>
    <div class="row">
        <div class="col-sm-3">
            <div class="col-xs-12">
                <img src="@Url.Content("~/Content/images/track.jpg")" />
            </div>
            <div class="col-xs-12">
                <img src="@Url.Content("~/Content/images/rest.jpg")" />
            </div>
        </div>
        <div class="col-sm-9">
            <h3>Traxxtar is a website made to share the creative projects of Darren Mathews. He has created various products for years and has decided to start a website to showcase these products. If you're interested in any of his electronics, feel free to contact him on the contact page. Any feedback is also welcome in the comment section of any of his projects.</h3>
        </div>
    </div>

</div>

